.article {
  max-width: 357px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Source Sans 3", sans-serif;
    color: #122f97;
    text-align: center;
  }

  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #122f97;
    text-align: center;
  }

  button {
    background-color: #205691;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-family: "Source Sans 3", sans-serif;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

.article img {
  width: 100%;
  min-width: 0;
}

@media (max-width: 768px) {
  .article {
    h2 {
      font-size: 25px;
    }

    button {
      width: 150px;
      font-size: 20px;
    }
  }
}
