.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #205691;
  position: relative;

  .imgLogo {
    max-width: 87px;
    max-height: 65.7px;
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  

  .Link {
    color: #fff;
    padding: 5px 20px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 20px;

       &:hover {
    color: darken(#fd7267, 8%);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
   }
  }

.imgUser {
  width: 50px;
  height: 50px;
  border: solid 3px #00aaff;
  border-radius: 100%;
  cursor: pointer;
}

.openedNavUser {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #205691;

  a {
    display: block;
    color: #fff;
    padding: 5px 10px;
    text-align:left;

      &:hover {
     color: darken(#fd7267, 8%);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
  }
}

.closedNavUser {
  display: none;
}

@media (max-width: 400px) {
  .header .imgLogo {
    max-width: 57px;
  }
}
